body{
    background-color: black;
}

.yasuo{
    margin-top: 5%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    border: 5px solid white;
}

h1.quote{
    color:white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2rem;
}

h2.yasuo2{
    color:blue;
    margin-left: 50%;
    display: flex;
    font-family: "Libre Baskerville", serif;
    justify-content: center;
}